body {
    font-size: 16px;
    line-height: 1.5;
    background-color: #221f2f;
}

.container {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 32px;
}

section {
    margin-bottom: 40px;
}

.switch {
    position: relative;
    display: inline-block;
    margin-left: 4px;
    width: 59px;
    height: 30px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient( to right, rgb(23, 2, 114), rgb(77, 243, 218));
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 6px;
    background-color: black;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
}

header {
    margin-top: 50px;
}

@font-face {
    font-family: "Akshar-bold";
    src: url("../font/Akshar-Bold.ttf");
}

@font-face {
    font-family: "Roboto-Black";
    src: url("../font/Roboto-Black.ttf");
}

@font-face {
    font-family: "AlfaSlabOne";
    src: url("../font/AlfaSlabOne-Regular.ttf");
}

.h1 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: "Akshar-bold";
}

.navitem {
    color: #928fb6;
    font-family: "Roboto-Black";
}

.row {
    display: flex;
    /* height: 80px; */
    justify-content: space-between;
    margin-bottom: 60px;
}

.col {
    height: auto;
    width: 300px;
    background-color: #282644;
    border-radius: 10px;
    /* margin-top: 20px; */
    /* padding-top: 20px; */
}

.top-border-12 {
    height: 6px;
    background-image: linear-gradient(#4179f3, #4179f3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.top-border-3 {
    height: 6px;
    background-image: linear-gradient(to right, #d4a82e, #d30042, #9f00a1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.top-border-4 {
    height: 6px;
    background-image: linear-gradient(#c40021, #c40021);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

a {
    text-decoration: none;
    margin: 10px;
    word-spacing: 5px;
    font-weight: bold;
}

.facebook {
    font-size: 25px;
    color: rgb(63, 152, 230);
}

.youtube {
    font-size: 10px;
    padding: 10px;
    border-radius: 50%;
    /* border-radius:50%; */
    color: black;
}

.youtubebox {
    /* height: 35px; */
    /* width: auto; */
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.686);
}

.instagram {
    font-size: 25px;
    background: linear-gradient(#d4a82e, #d30042, #9f00a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    font-size: 20px;
    color: #8a84b2;
}

.twitter {
    font-size: 25px;
    color: rgb(84, 105, 238);
}

@font-face {
    font-family: "ArchivoBlack";
    src: url("../font/ArchivoBlack-Regular.ttf");
}

.h2 {
    font-size: 50px;
    color: white;
    /* font-weight: bold;Fyoutub */
    font-family: "ArchivoBlack";
}

.followers {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #928fb6;
}

.top-header {
    text-align: center;
    font-weight: bold;
    height: 220px;
    padding-top: 20px;
    color: #8a84b2;
}

.today-decrease {
    color: red;
    font-size: 15px;
    margin-top: 20px;
    font-weight: bold;
    padding-bottom: 20px;
    /* word-spacing: 20px; */
}

.increase {
    color: #3d9088;
    font-size: 15px;
    font-weight: bold;
    /* word-spacing: 20px; */
}

.decrease {
    color: red;
    font-size: 15px;
    font-weight: bold;
    /* word-spacing: 20px; */
}

.today-increase {
    color: #3d9088;
    font-size: 15px;
    margin-top: 20px;
    font-weight: bold;
    padding-bottom: 20px;
    /* word-spacing: 20px; */
}

.foot {
    display: flex;
    justify-content: space-between;
}

.head {
    display: flex;
    justify-content: space-between;
}

.left-top-text {
    margin-left: 20px;
    /* padding-top: 25px; */
    color: #928fb6;
    font-size: 20px;
}

.left-bottom-text {
    margin-left: 20px;
    padding-top: 10px;
    font-size: 40px;
    color: white;
    padding-top: 15px;
    font-weight: bold;
    padding-bottom: 18px;
}

.h3 {
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
}

.head {
    padding-top: 20px;
}